<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>{{title}}</title>
</head>
<body>
    {{> menu}}
    <div class="container-fluid mt-5">
        <form method="post">

            <input hidden name="id" value="{{activity.id}}">

            <div class="form-group">
                <label for="title">Заголовок:</label>
                <input class="form-control" name="name" value="{{activity.name}}" required>
            </div>

            <div class="form-group">
                <label for="content">Описание активности:</label>
                <textarea class="form-control" name="description" placeholder="Описание активности..">{{activity.description}}</textarea>
            </div>

            <div class="form-group">
                <label for="date">Дата и время начала:</label><br>
                <input type="datetime-local" name="startDate" value="{{activity.startDate}}">
            </div>

            <div class="form-group">
                <label for="project">Проект:</label>
                <input class="form-control" name="project" value="{{activity.project}}">
            </div>
            <div class="panel-body">
                <button class="btn btn-success" type="submit" formaction="/saveActivity">Сохранить</button>
            </div>
        </form>
    </div>
</body>
</html>